
@{
    ViewBag.Title = "Index";
}

<h1>Heroes</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="~/Content/images/roles/OffenseIcon.png" /><h2>Offense</h2>
        </div>
    </div>
    <div class="row">
        <img class="img-responsive" src="~/Content/images/roles/DefenseIcon.png" /><h2>Defense</h2>
    </div>
    <div class="row">
        <img class="img-responsive" src="~/Content/images/roles/TankIcon.png" /><h2>Tank</h2>
    </div>
    <div class="row">
        <img class="img-responsive" src="~/Content/images/roles/SupportIcon.png" /><h2>Support</h2>
    </div>
</div>



