@{
    ViewBag.Title = "The Team";
}

<div>
    <ul class="breadcrumb pull-left">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>About</li>
    </ul>
</div>
<div class="jumbotron text-center">
    <h1 class="big-noodle">@ViewBag.Title</h1>
    <h2></h2>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            
        </div>
        <div class="col-md-3">
            <img class="img-circle img-portfolio" src="~/Content/images/team/cGarriss.jpg" />
        </div>
        <div class="col-md-3">
            <h2 class="big-noodle">Connor Garriss</h2>
            <h5 class="big-noodle">Project Manager</h5>
            <h4>Connor is passionate about gaming and having fun which ultimately drove him to developing. 
            He wants others to experience the joy that he has experienced. When he's not in front of his computer, he likes to enjoy the beautiful outdoors. 
            After all, many virtual environments are based off of life experiences, so what better way to grow the imagination than experiencing reality?</h4>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <img class="img-circle img-portfolio" src="~/Content/images/team/Daniel-Ferolino-photo (1).jpg" />
        </div>
        <div class="col-md-3">
            <h2 class="big-noodle">Daniel Ferolino</h2>
            <h5 class="big-noodle">Architect</h5>
            <h4>Daniel, the wizard, regularly pwns Master IS students at Hackathons. </h4>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3 text-center">
         <img class="img-circle img-portfolio" src="~/Content/images/team/Jackson, Jex.jpg" />
        </div>
        <div class="col-md-3">
            <h2 class="big-noodle">Jackson Flex</h2>
            <h5 class="big-noodle">Developer</h5>
            <h4>Jackson spends his free time eating Main Street Pizza while flexing. </h4>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3 text-center">
            <img class="img-circle img-portfolio" src="~/Content/images/team/Christensen, Alex.jpg" />            
        </div>
        <div class="col-md-3">
            <h2 class="big-noodle">Alex Christensen</h2>
            <h5 class="big-noodle">Developer</h5>
            <h4>Alex is currently an Information Systems student at Brigham Young University.  He hopes to get into a data analytics/science career. </h4>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
