@{

    ViewBag.Title = "Contact";
}

<div>
    <ul class="breadcrumb pull-left">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@ViewBag.Title</li>
    </ul>
</div>

<div class="jumbotron text-center">
    <h1 class="big-noodle">Contact Us</h1>
</div>

<div class="col-md-6 col-md-offset-3">
    <p>Fill out the form below and we will respond as quickly as we can.</p>

    <form action="" method="post">
        <div class="form-group">
            <label for="email">Your Name</label>
            <input class="form-control" name="email">
        </div>

        <h5><strong> Subject </strong></h5>
        <select class="btn btn-default">
            <option value="volvo">Problems</option>
            <option value="saab">Anger</option>
            <option value="mercedes">Bugs</option>
            <option value="audi">Feedback</option>
        </select>
        <br />
        <br />
        <div class="form-group">
            <label for="comment">Comments:</label>
            <textarea class="form-control" rows="5" name="comment"></textarea>
        </div>

        
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>