@{

    ViewBag.Title = "Contact";
}

<div class="col-md-1">

</div>
<div class="col-md-4">
    <h2>@ViewBag.Message</h2>
    <h3>@ViewBag.Connor</h3>

    <h5>
        
            Connor Garris PM<br />
            Provo, UT 84602<br />
            Tanner Building IS Lab 303 <br />
            Phone: 623.230.0355<br />
    </h5>


</div>
<div class="col-md-5">
    <form action="" method="post">
        <h3>Contact us </h3>
        <div class="form-group">
            <label for="email">Your Name</label>
            <input class="form-control" name="email">
        </div>
        <div class="form-group">
            <label for="comment">Comments:</label>
            <textarea class="form-control" rows="5" name="comment"></textarea>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>