@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="big-noodle">Overwatch Guides</h1>
    <p class="lead">Welcome to Overwatch Guides!</p>
    <p><a class="btn btn-lg btn-warning" href="@Url.Action("Index", "Heroes")">Get Started</a></p>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <h1 class="big-noodle">Why Overwatch Guides?</h1>
        <p>
            Overwatch Guides is a resource devoted to helping Overwatch players improve. The purpose of this site is to provide players with a quick reference
            guide to the heroes of Overwatch and to help players learn how to counter opposing team picks and build strong team compositions. The knowledge here comes from Platinum to
            Master tiered competitive players but is geared toward the Silver to Platinum tier skill bracket. The information contained is contributor opinion and may
            not work in all cases because skill is a large contributing factor, but overall it does work in most cases.
            <br />
            <br />
            If you have never played Overwatch but would like to, the link below will take you to Blizzard's site where you can learn more about the abiities and
            lore of each Hero as well as purchase the game. Thanks for visiting Overwatch Guides! We hope your gameplay improves!
            <br />
            <br />
            <a class="btn btn-sm btn-warning" href="https://playoverwatch.com/en-us/">Play Overwatch</a>
        </p>
    </div>
    <div class="col-md-3"></div>
</div>