body {
}

.img-thumbnail:hover {
    background-color: goldenrod;
    transform: scale(1.1);
}

.caption {
    color: #333333;
}

a:hover {
    text-decoration-color: #333333;
    text-decoration: none;
}
